<div class="div_tela_perfil">
<div class="infos_perfil">
    <div class="img_perfil"></div>
    <h1 class="h1_perfil"> @nickname</h1>
    <h2 class="h3_nome"> nome sobrenome</h2>
    <button class="bt_edit_perfil">editar perfil</button>
</div>
<div class="conteudo">
    <h1 class="h1_conquistas">Conquistas</h1>
    <div class="carrousel">
        <article class="card">
            HTML
        </article>
        <article class="card">
            JS
        </article>
        <article class="card">
            CSS
        </article>
        <article class="card">
            NODE
        </article>
        <article class="card">
            REACT
        </article>
         <article class="card">
            REACT
        </article>
         <article class="card">
            REACT
        </article>
        <article class="card">
            REACT
        </article>
                <article class="card">
            REACT
        </article>
                <article class="card">
            REACT
        </article>
                <article class="card">
            REACT
        </article>
    </div>
</div>
<div class="div_estatisticas">
    <h1 class="h1_estatisticas">Estatisticas do perfil</h1>
    <div class="infos_estatisticas">
        <div class="div_nv_basicos"></div>
        <div class="div_erros_simples"></div>
        <div class="nv_avancado"></div>
        <div class="erros_duplos"></div>
    </div>

</div>
</div>