<div class="div_modulo_fracao">
   <img src="/img/trilha_frac.png" alt="..." class="img_frac_modulo">
   <h1 class="h1_frac_modulo">Fração</h1>
   <img src="/img/icone.png" alt="..." class="img_icone_modulo">
</div>