   <div class="navigation">
      <ul>
          <li>
            <a href="#">
               <span class="icon"><img src="/img/icone.png" alt="..."></span>
               <span class="title">Nera</span>
            </a>
         </li>
         <li>
            <a href="/login">
               <span class="icon"><img src="/img/Vector_Perfil.png" alt="..."></span>
               <span class="title">Perfil</span>
            </a>
         </li>
         <li>
            <a href="/tela-trilha">
               <span class="icon"><img src="/img/Vector_Trilha.png" alt="..."></span>
               <span class="title">Trilhas</span>
            </a>
         </li>
         <li>
            <a href="#">
               <span class="icon"><img src="/img/Vector_Historico.png" alt="..."></span>
               <span class="title">Histórico</span>
            </a>
         </li>
         <li>
            <a href="#">
               <span class="icon"><img src="/img/Vector_Notificacao.png" alt="..."></span>
               <span class="title">Notificações</span>
            </a>
         </li>
          <li>
            <a href="#">
               <span class="icon"><img src="/img/Vector_duvidas.png" alt="..."></span>
               <span class="title">Ajuda</span>
            </a>
         </li>
          <li>
            <a href="#">
               <span class="icon"><img src="/img/Vector_Configuracoes.png" alt="..."></span>
               <span class="title">Configuração</span>
            </a>
         </li>
          <li>
            <a href="/log-aluno">
               <span class="icon"><img src="/img/Vector_Logout.png" alt="..."></span>
               <span class="title">Sair</span>
            </a>
         </li>
      </ul>
   </div>