   <div class="navigation">
      <ul>
         <li>
            <a href="#">
               <span class="icon"></span>
               <span class="list">home</span>
            </a>
         </li>
         <li>
            <a href="#">
               <span class="icon"></span>
               <span class="list">usuario</span>
            </a>
         </li>
         <li>
            <a href="#">
               <span class="icon"></span>
               <span class="list">mensagem</span>
            </a>
         </li>
         <li>
            <a href="#">
               <span class="icon"></span>
               <span class="list">ajuda</span>
            </a>
         </li>
      </ul>
   </div>